body {
  max-width: 100% !important;
}

img {
  width: 25px;
  padding: 2px;
}


li {
  font-size: 10px;
}

li span {
  font-size: 8px;
}

.row {
  display: flex;
}

.col {
  display: grid;
  margin-top: 0px !important;
}

/* Header */
#header {
 position: fixed;
 width: 100%;
 height: 100px;
 font-weight: bold;
 text-align: center;
 background: #7F6FF0;
 color: #fff;
}

#header-img {
    width: 35%;
    min-height: 100vh;
    max-height: 100%;
    background-image: url("img/icon.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#container * {
  margin: auto;
}

#para {
  font-family: 'Roboto', sans-serif;
  font-size: 15.5px;
  padding-bottom: 20px;
  line-height: 1.45;
}

#h1-title {
  font-family: 'Raleway', sans-serif;
  font-size: 51px;
  font-weight: 900;
}

#h1-section {
  font-family: 'Raleway', sans-serif;
  font-size: 35px;
  font-weight: 900;

}

#h2-title {
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  font-weight: 900;
  text-align: center;
}

#h3-title {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-weight: 900;
  /*text-align: center;*/
}

#h4-title {
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  font-weight: 900;
  /*text-align: center;*/
}

#div-border {
  border-bottom-width:2px;
  border-bottom-color: #D3D3D3;
  border-bottom-style: solid;
  width: 100%;
  margin-top: -450px;
}

.bg {
  background-color: #F8F8F8;
  width: 100%;
  padding-bottom: 40px;
}

.no-bg {
  /* background-color: #F8F8F8; */
  width: 100%;
  padding-bottom: 40px;
}

.innerDivRight {
  display: inline-block;
  position: absolute;
  margin-top: 50px !important;
}

.innerDivCenter {
  display: inline-block;
  padding-left: 25px;
  padding-right: 25px;
}

.innerDivSide {
  position: absolute;
  display: inline-block;
  /* vertical-align: top; */
}

.headerDiv{
  max-width: 750px;
  padding-top: 60px;
  text-align: center;

}

.innerDiv{
  /* max-width: 650px; */
  max-width: 750px;
}

#team {
  display: inline-block;
}

.navbar-brand{
  padding: 10px 15px;

}

.navbar-brand img {
  height: 30px;
  width: 30px;
}

table, th, td {
    border: 1.5px solid black;
}
th, td {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}

th {
    background-color: #C38D12;
    color: white;
}
